[View in Colaboratory](https://colab.research.google.com/github/Seolyeong/py17/blob/master/Summary_datatypes.ipynb)

##  Summary of datatype in Python

- list
- dictionary
- tuple
- set
- string

### 리스트 생성 및 항목 추가

In [0]:
a= [10, 20, 30, 40, 50]

In [2]:
# 0,1,2,... 인덱스는 리스트 처음부터 시작
# -1, -2, ... 인덱스는 리스트 마지막부터 시작
print("a[0]==", a[0], ", a[2] ==", a[2], ", a[4] ==", a[4])
print("a[-1]==", a[-1], ", a[-2] ==", a[-2], ", a[-5] ==", a[-5])

a[0]== 10 , a[2] == 30 , a[4] == 50
a[-1]== 50 , a[-2] == 40 , a[-5] == 10

In [0]:
b= [10, 20, "Hello", [True, 3.14]]

In [4]:
# b[3] 또는 b[-1] 값은 [True, 3.14] 리스트 전체임
print("b[0]==", b[0], ", b[2] ==", b[2], ", b[3] ==", a[3])
print("b[-1]==", b[-1], ", b[-2] ==", b[-2], ", a[-4] ==", a[-4])

b[0]== 10 , b[2] == Hello , b[3] == 40
b[-1]== [True, 3.14] , b[-2] == Hello , a[-4] == 20

In [5]:
# 2차원 배열 b[3][0] 네번째 value값에서 첫번째 value값
# 즉, 3이라는 인덱스에서 0이라는 인덱스 값을 가진다
print("b[3][0]==", b[3][0], ", b[3][1] ==", b[3][1])
print("b[-1][-1]==", b[-1][-1], ", b[-1][-2] ==", b[-1][-2])

b[3][0]== True , b[3][1] == 3.14
b[-1][-1]== 3.14 , b[-1][-2] == True

In [6]:
b[-2][-2]
# 문자'l'이 출력되는 이유는 'Hello'에서 끝에서 두번째인 'l'이 출력된다.

'l'

In [7]:
# a[0:2] => 인덱스 0부터 1(2 - 1)까지, a[1:] => 인덱스 1부터 끝까지
# a[:3] => 인덱스 처음부터 2(3 - 1)까지 , a[:-2] => 인덱스 처음부터  -3(-2 -1)까지
# a[:] => 인덱스 처음부터 끝까지

print("a[0:2] ==", a[0:2], ", a[1:] ==", a[1:])
print("a[:3] ==", a[:3], ", a[:-2] ==", a[:-2])
print("a[:] ==", a[:])

a[0:2] == [10, 20] , a[1:] == [20, 30, 40, 50]
a[:3] == [10, 20, 30] , a[:-2] == [10, 20, 30]
a[:] == [10, 20, 30, 40, 50]

### Tuple 데이터타입 
- 리스트 내의 원소를 변경할 수 있지만 튜플은 변경할 수 없다.
- 리스트는 [ ]으로 둘러싸지만 튜플은 ( )으로 둘러싼다.

In [0]:
a= (10, 20, 30, 40, 50)

In [9]:
print("a[0]==", a[0], ", a[-2] ==", a[-2], ", a[:] ==", a[:])
print("a[0:2]==", a[0:2], ", a[1:] ==", a[1:])

a[0]== 10 , a[-2] == 40 , a[:] == (10, 20, 30, 40, 50)
a[0:2]== (10, 20) , a[1:] == (20, 30, 40, 50)

In [10]:
a[0] = 100 # a[0]값을 100으로 변경하려하기 때문에 에러발생

TypeError: ignored

### Dictionary 데이터타입
- 키(key)와 값(value)을 한 쌍으로 해서 데이터를 저장한다.

In [0]:
score = {"KIM":90, "LEE":85, "JUN":95}

In [12]:
print("score['KIM'] ==", score['KIM'])

score['KIM'] == 90

In [13]:
score['HAN']=100 # 새 원소 추가
# Dictionary는 입력한 순서대로 데이터가 들어가는 것이 아니므로 주의
print(score)

{'KIM': 90, 'LEE': 85, 'JUN': 95, 'HAN': 100}

In [14]:
# Dictionary key, value, (key, value)

print("score key ==", score.keys())
print("score value ==", score.values())
print("score items ==", score.items())

score key == dict_keys(['KIM', 'LEE', 'JUN', 'HAN'])
score value == dict_values([90, 85, 95, 100])
score items == dict_items([('KIM', 90), ('LEE', 85), ('JUN', 95), ('HAN', 100)])

### String 데이터타입
- 문자열 내의 각각의 값 또한 문자열로 인식된다.
- list로 반환하는 split() 함수는 머신러닝 코드에서 문자열 데이터 전처리 하기 위해 중요!

In [0]:
a= 'A73,CD'

In [16]:
a[1] # a[1]은 숫자 7이 아닌 문자열 7

'7'

In [17]:
a = a + ', EFG'  # + 연산자 사용
a

'A73,CD, EFG'

In [18]:
# split() 메서드는 특정 separator를 기준으로 문자열을 분리하여 list 리턴
b = a.split(',')
print(b)

['A73', 'CD', ' EFG']

### useful function: type(), len(), size()
- type(): 입력 데이터의 데이터타입을 알려주는 함수
- len(): 입력 데이터의 길이(요소의 개수)를 알려주는 함수
- size(): 모든 원소의 개수를 알려주는 함수

In [0]:
a= [10, 20, 30, 40, 50]   # List
b= (10, 20, 30, 40, 50)   # Tuple
c = {"KIM":90, "LEE":80}   # Dictionary
d = 'Seoul, Korea'   # String
e = [[100, 200], [300, 400], [500, 600]]   # 2차원 List

In [20]:
print(type(a), type(b), type(c), type(d), type(e))

<class 'list'> <class 'tuple'> <class 'dict'> <class 'str'> <class 'list'>

In [21]:
print(len(a), len(b), len(c), len(d), len(e))

5 5 2 12 3

In [22]:
print(size(e))

NameError: ignored

### useful function: list(), str(), int()
- list(): 입력데이터를 리스트로 만들어 리턴하는 함수
- str(): 입력되는 데이터를 문자열로 변환하여 리턴하는 함수
- int(): 문자열 형태로 입력되는 숫자나 소수점이 있는 숫자 등을 정수 형태로 리턴하는 함수

In [23]:
a= 'Hello'
b= {"KIM":90, "LEE":80}

print(list(a), list(b.keys()), list(b.values()), list(b.items()))

['H', 'e', 'l', 'l', 'o'] ['KIM', 'LEE'] [90, 80] [('KIM', 90), ('LEE', 80)]

In [25]:
str(3.14)

'3.14'

In [26]:
str('100')

'100'

In [27]:
str([1, 2, 3])

'[1, 2, 3]'

In [28]:
int('100')

100

In [29]:
int(3.14)

3